# The following environment variables are used to configure the application. Copy this file to .env and update the values as needed.

CURVE_BASE_URL=https://xxxx.curvehero.com
CURVE_LOGIN=userid
CURVE_PASSWORD=

# Mysql database configuration
DB_HOST=db_host
DB_USER=db_user
DB_PASSWORD=
DB_NAME=db_name